<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Fruits  Kingdom</title>
</head>
<body>

<th:block th:fragment="pageHeader">
	<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet"
			href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="/js/util/stringUtil.js" th:src="@{/js/util/stringUtil.js}"></script>
	<script src="/js/util/validator.js" th:src="@{/js/util/validator.js}"></script>
	<script src="/js/dialogConfig.js" th:src="@{/js/dialogConfig.js}"></script>
	<script>
		$(() => {
				$('#loginError').dialog(dialogConfig.loginError);
				
				$('button#login').on('click', () => {
					let jsonString = {
						'userName': $('input[name=userName]').val(),
						'password': $('input[name=password]').val()
					};
					
					$.ajax({
						type: 'POST',
						url: '/kingdom/auth/login',
						data: JSON.stringify(jsonString),
						contentType: 'application/json',
						datatype: 'json',
						scriptCharset: 'utf-8'
					})
					.then((result) => {
						let user = JSON.parse(result);
						if (isEmpty(user)){
							$('#hiddenUserName').val('');
							$('#loginError').dialog('open');
						} else {
							login(user);
							$('#hiddenUserName').val(user['userName']);
						}
					}, () => {
						console.error('Error: ajax connection failed.');
					});
				});
				
				$('button#logout').on('click', () => {
					$.ajax({
						type: 'POST',
						url: '/kingdom/auth/logout',
						scriptCharset: 'utf-8'
					})
					.then((result) => {
						$('#hiddenUserName').val('');
						logout();
						alert('ログアウトしました');
						location.replace('/kingdom/');
					}, () => {
						console.error('Error : ajax connection failed.');
					});
				});
			});
			
			function login(user) {
				let userName = user['userName'];
				$('.welcomeMsg').text(`ようこそ！${userName}さん`);
				if(isEmpty($('button#login').prop('class'))){
					$('button#login').addClass('hidden');
					$('button#logout').removeClass('hidden');
				}
				$('#mypageMenu').removeClass('hidden');
				$('input[name=userName]').val('');
				$('input[name=password]').val('');
			}
				
			function logout() {
				$('.welcomeMsg').text('ようこそ！ゲストさん');
				if(isEmpty($('button#logout').prop('class'))){
					$('button#logout').addClass('hidden');
					$('button#login').removeClass('hidden');
				}
				if(isEmpty($('#mypageLink').prop('class'))){
					$('#mypageLink').addClass('hidden');
				}
				$('input[name=userName]').val('');
				$('input[name=password]').val('');	
			}
	</script>
	<div class="headerTop">
		<h1 class="logo"><a href="/kingdom/">Fruits Kingdom</a></h1>
		<span class="signup">
			<a href="/kingdom/user/" th:href="@{/kingdom/user/}">
			新規ユーザ登録はこちら
			</a>
		</span>
		<span class="welcomeMsg" th:text="${loginSession == null || loginSession.getUserName() == null ? 'ようこそ！ゲストさん' : 'ようこそ！' + loginSession.getUserName() + 'さん'}"> </span>
	</div>
	 
	<nav>
		<div class="loginArea">
			<input type="text" name="userName" placeholder="ユーザー名"/>
			<input type="password" name="password" placeholder="パスワード" />
			<input type="hidden" id="hiddenUserName" value=""/>
			<button id="login" th:class="${loginSession == null || loginSession.getUserName() == null ? '' : 'hidden' }">ログイン</button>
			<button id="logout"  th:class="${loginSession == null || loginSession.getUserName() == null ? 'hidden' : '' }">ログアウト</button>
		</div>
		
		<ul class="menu">
			<li><a href="/kingdom/cart/" th:href="@{/kingdom/cart/}">カート</a></li>
			<li id="mypageMenu" th:class="${loginSession == null || loginSession.getUserName() == null ? 'hidden': ''}"><a href="/kingdom/mypage/" th:href="@{/kingdom/mypage/}">マイページ</a></li>
		</ul>
	</nav>
	<!-- Modal Dialog (ログインエラー) -->
	<div th:insert="fragments/dialog_login_error::dialogLoginError"></div>
	
</th:block>


</body>
</html>